    <!-- Top Bar -->
  <section id="top-bar" class="p-3">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <i class="fas fa-phone"></i> <a href="tel:+1-786-738-2624">(786) 738-2624</a>
        </div>
        <div class="col-md-4">
          <i class="fas fa-envelope-open"></i><a href="mailto:lirianoteam@yahoo.com"> lirianoteam@yahoo.com</a> 
        </div>
        <div class="col-md-4">
          <div class="social text-right">
            <a href="https://twitter.com/lirianoteam">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.facebook.com/andres.liriano.790">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="https://www.linkedin.com/in/andresliriano/">
              <i class="fab fa-linkedin"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>